body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-weight: bold;
  color: #252525;
  margin: 0;
  padding: 0;
  background-color: #fffaf4;
}

img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.content {
  padding: 1rem;
}

.buttonSection {
  margin-top: 32px;
}

.homeButton {
  display: block;
  margin: 10px auto;
  width: 80px;
  height: 24px;
  padding: 10px 60px;
  border-radius: 8px;
  font-size: 20px;
  border: 2px solid #252525;
  text-decoration: none;
  color: #252525;
  transition: 0.3s;
}

.homeButton:hover {
  background-color: #ffeddc;
}
